@{
    ViewBag.Title = "Danh mục Công việc";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="/Content/bootstrap.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<div class="container">
    <br />
    <div style="width:90%; margin:0 auto;">
        <table id="demoGrid" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>CongViecID</th>
                    <th>NoiDung</th>
                    <th>NgayGiao</th>
                    <th>NgayKetThuc</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#demoGrid").DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "pageLength": 5,
            "ajax": {
                "url": "/Home/LoadData4",
                "type": "POST",
                "datatype": "JSON"
            },

            "columnDefs":
                [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": [1],
                    "searchable": false,
                    "orderable": false
                },
                {
                    "targets": [2],
                    "searchable": false,
                    "orderable": false
                },
                {
                    "targets": [3],
                    "searchable": false,
                    "orderable": false
                }],

            "columns": [
                { "data": "CongViecID", "name": "CongViecID", "autoWidth": true },
                { "data": "NoiDung", "name": "NoiDung", "autoWidth": true },
                { "data": "NgayGiao", "title": "NgayGiao", "name": "ContactName", "autoWidth": true },
                { "data": "NgayKetThuc", "name": "NgayKetThuc", "autoWidth": true },
                {
                    "render": function (data, type, full, meta) { return '<a class="btn btn-info" href="/Home/Edit/' + full.CongViecID + '">Edit</a>'; }
                },
                {
                    data: null, render: function (data, type, row) {
                        return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.CongViecID + "'); >Delete</a>";
                    }
                },
            ]
        });
    });
</script>

